<nav class="site-nav {{classes}}">
  <menu-toggle is-index="{{^is "index"}}true{{/is}}">
    <template v-slot:icon>
      {{> icons/menu }}
    </template>
  </menu-toggle>
  <div class="site-nav-left">
    {{#if @site.logo}}
      <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"/></a>
    {{else}}
      <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
    {{/if}}
    <div class="site-nav-content">
      {{navigation}}
    </div>
  </div>
  <categories-nav style="flex-grow: 1;"></categories-nav>
  <div class="site-nav-right">
    <dark-mode-toggle>
      <template v-slot:light>
        {{> icons/sun }}
      </template>
      <template v-slot:dark>
        {{> icons/moon }}
      </template>
    </dark-mode-toggle>

    {{#if @site.secondary_navigation}}
      {{navigation type="secondary"}}
    {{else}}
      <div class="so-cial-links">
        <a class="so-cial-link" href="https://github.com/gaplo917" title="GitHub" target="_blank"
           rel="noopener"><i class="ripple">{{> icons/github }}</i></a>
        {{#if @site.facebook}}
          <a class="so-cial-link so-cial-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank"
             rel="noopener"><i class="ripple">{{> icons/facebook}}</i></a>
        {{/if}}
        {{#if @site.twitter}}
          <a class="so-cial-link so-cial-link-tw" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank"
             rel="noopener"><i class="ripple">{{> icons/twitter}}</i></a>
        {{/if}}
      </div>
        <a class="so-cial-link rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS"
           target="_blank" rel="noopener"><i class="ripple">{{> icons/rss}}</i></a>
    {{/if}}
  </div>

</nav>

<aside-menu>
  <template v-slot:github>
    {{> icons/github }}
  </template>
  <template v-slot:facebook>
    {{> icons/facebook }}
  </template>
  <template v-slot:twitter>
    {{> icons/twitter }}
  </template>
  <template v-slot:rss>
    {{> icons/rss }}
  </template>
</aside-menu>
