<h3>{{t 'subscribe'}}</h3>
<p>{{t 'subscribeDesc'}}</p>
<div class="tg-block">
  <div class="tg-icon-wrapper">
    <img src="{{asset 'patreon.png'}}" class="tg-icon"/>
  </div>
  <div style="flex-grow: 1">
    <a href="{{t 'patreonUrl' }}" target="_blank">{{t 'patreon'}}</a>{{t 'patreonDesc'}}
  </div>
</div>
<div class="tg-block">
  <div class="tg-icon-wrapper">
    <img src="{{asset 'telegram.png'}}" class="tg-icon"/>
  </div>
  <div style="flex-grow: 1">
    <a href="{{t 'tgChannel0Url' }}" target="_blank">{{t 'tgChannel0'}}</a>{{t 'tgChannel0Desc'}}
  </div>
</div>

<div class="tg-block">
  <div class="tg-icon-wrapper">
    <img src="{{asset 'telegram.png'}}" class="tg-icon"/>
  </div>
  <div style="flex-grow: 1">
    <a href="{{t 'tgChannel1Url' }}" target="_blank">{{t 'tgChannel1'}}</a>{{t 'tgChannel1Desc'}}
  </div>
</div>

<div class="tg-block">
  <div class="tg-icon-wrapper">
    <img src="{{asset 'face-8cef-book.svg'}}" class="tg-icon"/>
  </div>
  <div style="flex-grow: 1">
    <a href="{{t 'fbPageUrl' }}" target="_blank">{{t 'fbPage'}}</a>{{t 'fbPageDesc'}}
    <div style="display: inline-flex" class="fb-like" data-href="{{t 'fbPageUrl' }}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
  </div>
</div>
