<h3>{{t 'subscribe'}}</h3>
<p>{{t 'subscribeDesc'}}</p>
<div class="tg-block">
  <div class="tg-icon-wrapper">
    <img src="{{asset 'telegram.png'}}" class="tg-icon"/>
  </div>
  <div style="flex-grow: 1">
    <a href="{{t 'tgChannel0Url' }}" target="_blank">{{t 'tgChannel0'}}</a>{{t 'tgChannel0Desc'}}
  </div>
</div>

<div class="tg-block">
  <div class="tg-icon-wrapper">
    <img src="{{asset 'telegram.png'}}" class="tg-icon"/>
  </div>
  <div style="flex-grow: 1">
    <a href="{{t 'tgChannel1Url' }}" target="_blank">{{t 'tgChannel1'}}</a>{{t 'tgChannel1Desc'}}
  </div>
</div>
