<div id="aside-menu" class="aside-menu">
  <div class="backdrop" :class="{ active: isToggle }" @click="toggle($event)"></div>
  <aside class="fixed-left-menu bulma menu" :class="{ active: isToggle }">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      {{#if @site.navigation}}
        {{#foreach navigation}}
          <li>
            <a
              class="full-nav nav-{{slug}}{{#if current}} nav-current{{/if}}"
              href="{{url absolute="true"}}"
              @click="toggle()"
            >{{t label}}
            </a>
          </li>
        {{/foreach}}
      {{/if}}
    </ul>
    <p class="menu-label">
      Social
    </p>
    <ul class="menu-list">
      <li><a class="social-link" href="https://github.com/gaplo917" title="GitHub" target="_blank"
             rel="noopener"><i class="ripple">{{> icons/github }}</i>GitHub</a></li>
      {{#if @site.facebook}}
        <li><a class="social-link" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank"
               rel="noopener"><i class="ripple">{{> icons/facebook }}</i>Facebook</a></li>
      {{/if}}
      {{#if @site.twitter}}
        <li><a class="social-link" href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank"
               rel="noopener"><i class="ripple">{{> icons/twitter }}</i>Twitter</a></li>
      {{/if}}
        <li><a class="social-link" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS"
           target="_blank" rel="noopener"><i class="ripple">{{> icons/rss }}</i>RSS</a></li>
    </ul>
  </aside>
</div>

